div(style={'font-family': 'sans-serif'})
	h2(style={color: '#666666'}) Welcome to #{hostname}

	p
		| Fluidity A.I. sunglasses systema media assassin soul-delay sign courier. Plastic 8-bit systema uplink courier math-boat nano-human cartel tower vehicle dissident post. Knife woman pen geodesic singularity sprawl shoes Shibuya dome industrial grade San Francisco DIY assassin range-rover. Concrete engine monofilament grenade pen footage film alcohol boy Chiba range-rover sign nodality corporation receding cardboard drone.
	p
		| Regards,
		br
		| #[a(href=`${hostname}` style='color: #666666') #{hostname}]
