div(style={'font-family': 'sans-serif'})
	h2(style={color: '#666666'}) Activate your Account

	p
		| Hi #{name}, click #[a(href=`${url}` style='color: #666666') here] to activate your account (expires in 24 hours).

	p
		| Regards,
		br
		| #[a(href=`${hostname}` style='color: #666666') #{hostname}]
